body {
  text-align: center;
  font-family: "Pompiere", cursive;
  font-size: 16px;
}

h1 {
  color: #474646;
  font-family: "Fredoka One", cursive;
  font-size: 33px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 0;
}

span {
  color: #f38b64;
  font-family: "Pompiere", cursive;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 10px;
  padding: 0;
  color: #474646;
}

li {
  list-style: none;
  color: #474646;
  font-family: "Pompiere", cursive;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
}

small {
  opacity: 0.4;
}

.overview {
  margin-top: 5px;
  margin-bottom: 5px;
}

.temp li {
  display: inline-block;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 10px auto;
}

.weather-app {
  padding: 20px;
  background: #e3f8fd;
  border: 2px solid #d04202;
  border-radius: 5px;
  color: #fff;
}

.search-bar {
  display: inline-block;
  width: 0 auto;
}

.btn {
  color: #e3f8fd;
  background-color: #d04202;
  border-color: #d04202;
  margin-bottom: 5px;
}

.btn:hover {
  color: #e3f8fd;
  background-color: #d04202;
  border-color: #d04202;
}

.btn:focus {
  color: #e3f8fd;
  background-color: #d04202;
  border-color: #d04202;
}

.weather {
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  padding: 10px 75px;
  text-transform: capitalize;
}

.weather-temperature strong {
  color: #d04202;
  font-family: "Fredoka One", cursive;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-icon {
  height: 64px;
  margin: -25px 0 25px;
}

.weather-forecast {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.weather-forecast-date {
  color: #d04202;
  font-family: "Fredoka One", cursive;
  font-size: 16px;
  opacity: 0.9;
}

.weather-forecast-temperature-max {
  color: #d04202;
}

.weather-forecast-temperature-min {
  color: #f38b64;
  opacity: 0.5;
}
